.PageDish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PageDish input {
  margin: 20px;
  height: 44px;
  font-size: 22px;
  text-align: center;
}
