/*css de Aurore start*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Luckiest+Guy&display=swap");

:root {
  --title-font: "Petemoss", cursive;
  --common-font: "Lato", sans-serif;
  --light: #fcf6bdff;
  --dark: #171718;
  --primary-color: #ff99c8ff;
  --secondary-color: #e4c1f9ff;
  --light-alternative: #a9def9ff;
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
  background-color: var(--light);
  position: relative;
}
/*css de Aurore end*/
