/* VARIABLES */
:root {
  --main-white-color: #f4fefe;
  --main-orange-color: #fcf680;
  --main-pink-color: #ff99c9;
  --main-purple-color: #e4c1f9;
  --main-black-color: #1d1d1d;
  --title-main-font: "Gagalin", sans-serif;
  --text-main-font: "Lato", sans-serif;
  --title-font: "Petemoss", cursive;
  --common-font: "Lato", sans-serif;
  --light: #fcf6bdff;
  --dark: #171718;
  --primary-color: #ff99c8ff;
  --secondary-color: #e4c1f9ff;
  --light-alternative: #a9def9ff;
}

/* RESET */
body {
  margin: 0;
  box-sizing: border-box;
}

/* STYLE */
#root {
  background: url("https://i.ibb.co/GRtPqn0/mesh.png") no-repeat center / cover;
}

/* ======== GENERAL =========== */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  .composent-button-link {
    padding: 20px;
    box-shadow: inset 4px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15%;
    color: purple;
    background-color: rgb(168, 50, 189);
    z-index: 10;
  }

  a.composent-button-link {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--main-black-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--title-main-font);
    color: rgb(255, 184, 52);
    letter-spacing: 0.05rem;
    text-shadow: black 1px 1px, black -1px 1px, black -1px -1px, black 1px -1px;
  }

  .composent-logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    img {
      width: 70%;
    }
  }
}

/* ======== Home =========== */

.home-button-div {
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* ======== Geo =========== */
.geo {
  .container {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .geo-map {
    top: 0;
    z-index: 10;
    text-align: center;

    .pac-container {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }

    div {
      #googleMap {
        height: 79vh;
        width: 100%;

        .input-localisation {
          position: relative;
          z-index: 20;
          bottom: -20vh;

          .autocomplete-dropdown-container {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            flex-direction: column-reverse;
            background-color: #fff;
            top: 30px;
            width: 100%;
            z-index: 30;
            line-height: 1.5;
          }
        }
      }
    }
  }

  .geo-bot {
    height: 26vh;
    bottom: 0;
    z-index: 10;
    border-radius: 32px 32px 0 0;
    background-color: var(--main-purple-color);
  }
}

/* ======== Ingredient =========== */

.ingredient-button-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ingredient {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: auto;

  .composent-logo-div {
    width: 80%;
    margin: auto;
  }
}

.dish-match {
  box-shadow: inset 4px 8px 8px rgba(0, 0, 0, 0.25);
  border-radius: 15%;
  border: var(--main-purple-color) solid 1px;
  background: var(--main-white-color);
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0.1rem;
  font-family: var(--title-font);
  pointer-events: fill;
  font-size: medium;
}

.dish-match:hover {
  background: rgb(168, 50, 189);
  cursor: pointer;
  color: rgb(255, 184, 52);
  font-weight: bold;
  font-size: large;
}

.container-ingredient {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: auto;
  height: auto;

  input {
    width: 80vw;
    height: 8vh;
    text-align: center;
    font-size: 2rem;
  }
}

.form-ingredient {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: auto;
  height: auto;
}

.container-ingredient {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: auto;
  height: auto;
}

.form-ingredient {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: auto;
  height: auto;
}

.autocomplete-dropdown-container {
  width: 21rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0.1rem;
  font-family: var(--title-font);
  pointer-events: fill;
  font-size: medium;
  border: none;
}

.autocomplete-dropdown-container:hover {
  cursor: pointer;
}

.suggestion-item--active {
  background: var(--main-white-color);
  color: rgb(255, 184, 52);
  font-weight: bold;
  font-size: large;
}

.gm-style {
  border-radius: 10%;
}

.suggestion-item {
  font-family: var(--title-main-font);
}

.container-ingredient {
  .dish-match-after {
    box-shadow: inset 4px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15%;
    border: var(--main-purple-color) solid 1px;
    background: var(--main-white-color);
    width: 10.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0.1rem;
    font-family: var(--title-main-font);
    pointer-events: fill;
    font-size: medium;
  }

  .dish-match-after:hover {
    background: rgb(168, 50, 189);
    cursor: pointer;
    color: rgb(255, 184, 52);
    font-weight: bold;
    font-size: large;
  }

  .dish-info-ingredient {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .dish-info-ingredient-title {
      font-size: 2rem;
      font-weight: bold;
      font-family: var(--title-main-font);
      margin-bottom: 5%;
      text-decoration: underline;
    }

    .dish-info-ingredient-img {
      width: 80%;
      height: auto;
      object-fit: cover;
      border-radius: 5%;
      border: solid 1.2px black;
    }
  }

  #defaultNumbers {
    display: flex;
    align-items: right;
    justify-content: right;
    flex-direction: row;
    width: 10%;
    height: 10%;
  }

  .ingredient-input {
    font-size: medium;
    font-family: var(--title-main-font);
    width: 100%;
    text-align: center;
    border-radius: 5%;
    border-color: #000;
    height: 80%;
    color: #000;
  }

  .div-ingredient-input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 80%;
  }

  .comment-ingredient-input {
    font-size: medium;
    font-weight: bold;
    font-family: var(--title-font);
    width: 90%;
    text-align: center;
    border-radius: 5%;
    height: 5rem;
    margin-bottom: 5%;
  }

  textarea {
    border: #000 solid 1px;
  }

  p.title-ingredient-input {
    font-family: var(--title-main-font);
    margin-bottom: 5%;
  }
}

/* ======== Disheslist =========== */

.dishesList-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .dishItem-container {
    display: flex;
    justify-content: space-between;
    text-align: right;
    background-color: var(--main-pink-color);
    margin: 10px 0;
    padding: 20px;
    min-width: 30vw;
    border-radius: 15px;
  }

  .dishItem-img {
    width: 120px;
    border-radius: 50%;
  }
}

/* ======== Dishes Infos =========== */

.dishInfo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .DI-back {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 0 0 30px 30px;
    }
  }

  .DI-front {
    width: 80vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--main-black-color);

    h2 {
      color: var(--main-white-color);
      font-size: 2.6em;
      text-shadow: black 1px 1px, black -1px 1px, black -1px -1px,
        black 1px -1px;
    }

    .DI-allergenes {
      background-color: var(--main-purple-color);
      width: 100%;
      border-radius: 40px;
      text-align: center;
      line-height: 1.2;
      padding-bottom: 10px;
      margin-top: 50%;

      p {
        padding: 0;
        margin: 0;
      }
    }
  }
}

/* ======== Chat =========== */

.ChatPage {
  justify-content: space-around;
}

.joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #43a047;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.joinChatContainer button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #43a047;
  color: #fff;
  cursor: pointer;
}
.joinChatContainer button:hover {
  background: #2e7d32;
}
.chat-window {
  width: 300px;
  height: 420px;
}

.chat-window .chat-header {
  height: 45px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  background: var(--main-pink-color);
  position: relative;
}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}
.chat-window .chat-body {
  height: calc(450px - (45px + 70px));
  border: 1px solid #263238;
  background: #fff;
  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}
.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #43a047;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}
#you {
  justify-content: flex-end;
}
#you .message-content {
  justify-content: flex-end;
}
#you .message-meta {
  justify-content: flex-end;
  margin-left: 5px;
}
#other {
  justify-content: flex-start;
}
#other .message-content {
  justify-content: flex-start;
  background-color: cornflowerblue;
}
#other .message-meta {
  justify-content: flex-start;
  margin-right: 5px;
}
.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}
.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}
.chat-window .chat-footer {
  height: 40px;
  border: 1px solid #263238;
  -webkit-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  display: flex;
}
.chat-window .chat-footer input {
  height: 95%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;
  outline: none;
  font-family: "Open Sans", sans-serif;
}
.chat-window .chat-footer button {
  border-style: none;
  border-left: 2px solid black;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  outline: none;
  font-size: 1rem;
  color: var(--dark);
}
.chat-window .chat-footer button:hover {
  color: #43a047;
}
.hide {
  opacity: 0 !important;
}

/* ======== Validation =========== */

.validation {
  p {
    font-size: 1.5rem;
    text-align: center;
    margin: 10% 0;
  }
}

/********DonatingButton*************/

.donate {
  margin: 20px;
  text-decoration: none;
  font-family: "Gagalin", sans-serif;
  font-size: 25px;
  text-align: center;
  background: rgb(168, 50, 189);
  border-radius: 7px;
  color: #fcf680;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**********Media**************/

.mediabutton {
  float: left;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.mediabutton span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
}

.mediabutton:hover {
  width: 200px;
}

.mediabutton:nth-child(1):hover .icon {
  background: #4267b2;
}

.mediabutton:nth-child(2):hover .icon {
  background: #1da1f2;
}

.mediabutton:nth-child(3):hover .icon {
  background: #0a66c2;
}
.mediabutton:nth-child(4):hover .icon {
  background: #fcf680;
}

.mediabutton:nth-child(1) span {
  color: #4267b2;
}

.mediabutton:nth-child(2) span {
  color: #1da1f2;
}

.mediabutton:nth-child(3) span {
  color: #0a66c2;
}

.mediabutton:nth-child(4) span {
  color: black;
}
.mediabutton .icon {
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.mediabutton .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-in-out;
}

.mediabutton:hover i {
  color: #fff;
}

.about {
  p {
    width: 80%;
    margin: auto;
  }
  h1 {
    background-color: var(--main-pink-color);
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 32px;
  }

  article {
    margin-bottom: 10vh;
  }
}
