:root {
  --main-white-color: #f4fefe;
  --main-orange-color: #fcf680;
  --main-pink-color: #ff99c9;
  --main-purple-color: #e4c1f9;
  --main-black-color: #1d1d1d;
  --title-main-font: 'Gagalin', sans-serif;
  --text-main-font: 'Lato', sans-serif;
}

body {
  background: radial-gradient(100% 100% at 50% 100%, rgba(237, 12, 214, 0.2) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(100% 100% at 50% 0%, #E3D06C 0%, rgba(226, 217, 134, 0) 100%), #FFFFFF;
}

.composent-logo {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 30%;
}

.div-button-test-logo {
  display: flex;
  justify-content: space-around;
}
.button-test-logo {
  font-weight: bold;
  width: 15%;
  height: 20%;
  text-align: center;
  margin-bottom: 20%;
}

.home-button-div {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.composent-button-link {
      width: 8rem;
      height: 4rem;
      text-align: center;
      align-items: flex-end;
      margin-bottom: 24%;
      background: radial-gradient(49.48% 49.48% at 50.42% 50.52%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(100% 150.5% at 0% 0%, #F2E6A9 0%, rgba(245, 236, 188, 0.776042) 51.56%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #a492ee;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 1.5vh;
}

a.composent-button-link {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--main-black-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--title-main-font);
}

